<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>CRCheckerDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F014BD491A4C5E920009F87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F014BD621A4C5E920009F87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F014BD761A4C5FD20009F87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F014BD8E1A4C5FD20009F87E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
